html {
  background: #c0c0c0;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background: White;
  width: 50%;
  padding: 20px;
  border-radius: 40px;
}
li {
  list-style: none;
}

main {
}
.btn-element-box {
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}
.btn-element-box a {
  width: 45%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  text-decoration: none;
  padding: 10px;
}
fieldset {
  border-radius: 10px;
  border: 1px solid #333333;
}

@media (max-width: 1024px) {
  body {
    background: White;
    width: 90%;
    padding: 20px;
    border-radius: 40px;
  }
}
aside {
  float: left;
  width: 150px;
  margin-right: 50px;
}
section {
  float: left;
  width: 500px;
}
footer {
  clear: both;
  border-top: 2px solid black;
}
footer p {
  text-align: right;
  font-size: 80%;
}
header {
  border-bottom: 2px solid black;
}
table,
th,
td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
}
